@using DnsWebApp.Models
@model List<DnsWebApp.Models.ViewModels.RegistrarDisplay>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Registrars";
    ViewBag.Active = "Registrar";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Registrars</h1>
    
    <div class="btn-toolbar mb-2 mb-md-0">
        @if (User.IsInRole(RoleDefinition.StaticData))
        {
            <a href="@Url.Action("New", "Registrar")" class="btn btn-sm btn-outline-success">
                <i class="fas fa-plus"></i>&nbsp;New registrar
            </a>
        }
    </div>
</div>

<table class="table table-striped table-hover sortable">
    <thead><tr>
        <th>Registrar</th>
        <th>Enabled zones</th>
        <th>Disabled zones</th>
        <th>TLDs supported</th>
        <th>Allow Renewal</th>
        <th>Allow Transfer</th>
        <th>Privacy Fee</th>
        <th>Transfer Out Fee</th>
        <th data-defaultsort="disabled"></th>
    </tr></thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Registrar.Name</th>
            <td>@item.Registrar.Zones.Count(x => x.Enabled)</td>
            <td>@item.Registrar.Zones.Count(x => !x.Enabled)</td>
            <td>@item.Registrar.RegistrarTldSupports.Count()</td>
            <td>@item.Registrar.AllowRenewals</td>
            <td>@item.Registrar.AllowTransfers</td>
            <td>@item.PrivacyFee</td>
            <td>@item.TransferOutFee</td>
            
            <td class="table-button-cell">
                @if (User.IsInRole(RoleDefinition.StaticData))
                {
                    <a href="@Url.Action("Edit", "Registrar", new {item = item.Registrar.Id})" class="btn btn-sm btn-secondary">
                        <i class="fas fa-pencil-alt"></i>&nbsp;Edit
                    </a>
                }
                <a href="@Url.Action("Item", "Registrar", new {item = item.Registrar.Id})" class="btn btn-sm btn-secondary">
                    <i class="fas fa-cubes"></i>&nbsp;View Zones
                </a>
                <a href="@Url.Action("TldList", "Registrar", new {item = item.Registrar.Id})" class="btn btn-sm btn-secondary">
                    <i class="fas fa-server"></i>&nbsp;TLD Support
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
