@model List<DnsWebApp.Models.ViewModels.TldSupportDisplay>
@{
    Layout = "_Layout"; 
    ViewData["Title"] = "Registrars";
    ViewBag.Active = "Registrar";
}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">TLD support for registrar @ViewData["Registrar"]</h1>
    
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="@Url.Action("Edit", "Registrar", new {item = ViewData["RegistrarId"]})" class="btn btn-sm btn-outline-secondary ml-2">
            <i class="fas fa-pencil-alt"></i>&nbsp;Edit Registrar
        </a>
        <a href="@Url.Action("Item", "Registrar", new {item = ViewData["RegistrarId"]})" class="btn btn-sm btn-outline-secondary ml-2">
            <i class="fas fa-cubes"></i>&nbsp;Zone list
        </a>
        <a href="@Url.Action("TldAdd", "Registrar", new {item = ViewData["RegistrarId"]})" class="btn btn-sm btn-outline-success ml-2">
            <i class="fas fa-plus"></i>&nbsp;Zone list
        </a>
    </div>
</div>

<table class="table table-striped table-hover sortable">
    <thead><tr>
        <th data-defaultsort="disabled"></th>
        <th>Top-level domain</th>
        <th>Enabled zones</th>
        <th>Disabled zones</th>
        <th>Advertised Renewal price</th>
        <th>Actual renewal price</th>
        <th>Yearly cost of renewal</th>
        <th>Advertised Transfer price</th>
        <th>Actual transfer price</th>
        <th>Prices last updated</th>
        <th data-defaultsort="disabled"></th>
    </tr></thead>
    <tbody>
        @foreach (var entry in Model)
        {
            <tr>
                <td></td>
                <td>@entry.Domain</td>
                <td>@entry.EnabledZones</td>
                <td>@entry.DisabledZones</td>
                <td>@entry.RenewalPrice</td>
                
                <td>@entry.RealRenewalPrice</td>
                <td>@entry.TotalYearlyCost</td>
                
                <td>@entry.TransferPrice</td>
                <td>@entry.RealTransferPrice</td>

                <td>@entry.RenewalPriceUpdated</td>
                <td class="table-button-cell">
                    <a href="@Url.Action("TldEdit", "Registrar", new {item = entry.RegistrarId, tld = entry.Id})" class="btn btn-sm btn-secondary">
                        <i class="fas fa-pencil-alt"></i>&nbsp;Edit
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
