@using DnsWebApp.Models
@model List<DnsWebApp.Models.Database.Zone>

<table class="table table-striped table-hover sortable">
    <thead><tr>
        <th data-defaultsort="disabled"></th>
        <th>Zone</th>
        <th />
        <th>Owner</th>
        <th><abbr title="Number of records in this zone">#</abbr></th>
        <th>Nameserver</th>
        <th><abbr title="Refresh - how often secondary nameservers refresh their information">Ref</abbr></th>
        <th><abbr title="Retry - how often secondary nameservers retry a failed refresh">Ret</abbr></th>
        <th><abbr title="Expiry - how long secondary nameservers will continue to serve potentially outdated zone information">Ex</abbr></th>
        <th><abbr title="Negative TTL - how long nameservers cache a negative result">TTL</abbr></th>
        <th>Admin</th>
        <th data-defaultsort="disabled"></th>
    </tr></thead>
    <tbody>
    @foreach (var zone in Model)
    {
        <tr class="@(zone.Enabled ? "" : "table-danger")">
            <td class="table-button-cell">
                <form class="form-inline" asp-controller="Zone" asp-action="ToggleFave">
                    <input type="hidden" name="zone" value="@zone.Id" />
                    <input type="hidden" name="returnto" value="@Url.Action()" />
                    @if (zone.FavouriteDomains != null && zone.FavouriteDomains.Any(x =>  x.User?.UserName == User.Identity.Name))
                    {
                        <button type="submit" class="btn btn-sm btn-info"><i class="fas fa-star"></i></button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-sm btn-outline-info"><i class="far fa-star"></i></button>
                        
                    }
                </form>
            </td>
            <td class="font-weight-bold">@(zone.Domain.Name + "." + zone.Domain.TopLevelDomain.Domain)</td>
            <td data-value="@zone.HorizonView?.ViewTag"><partial name="SplitHorizonTag" model="zone.HorizonView"/></td>
            <td>@zone.Owner</td>
            <td>@(zone.Records?.Count ?? 0)</td>
            <td>@zone.PrimaryNameServer</td>
            <td data-value="@zone.Refresh">@Format.AsReadableTimespan(zone.Refresh)</td>
            <td data-value="@zone.Retry">@Format.AsReadableTimespan(@zone.Retry)</td>
            <td data-value="@zone.Expire">@Format.AsReadableTimespan(@zone.Expire)</td>
            <td data-value="@zone.TimeToLive">@Format.AsReadableTimespan(@zone.TimeToLive)</td>
            <td>@zone.Administrator</td>
            <td class="table-button-cell">
                <a href="@Url.Action("ShowZone", "Zone", new {zone = zone.Id})" class="btn btn-sm btn-secondary">
                    <i class="fas fa-cube"></i>&nbsp;Zone Records
                </a>
                @if (User.IsInRole(RoleDefinition.DnsManager))
                {
                    <a href="@Url.Action("EditZone", "Zone", new {zone = zone.Id})" class="btn btn-sm btn-secondary">
                        <i class="fas fa-pencil-alt"></i>&nbsp;Edit SOA
                    </a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>