@model DnsWebApp.Models.ZoneGroupSummary

<div class="card">
    <div class="card-body">
        <h3 class="card-title">@Model.GroupName</h3>
        @if (Model.EnabledZones > 0)
        {
            <p class="card-text float-right mt-1 mb-0 text-right">(@Model.EnabledRecords records)</p>
            <p class="card-text lead"><span class="badge badge-success">@Model.EnabledZones</span>&nbsp;enabled zones</p>
        }
        else
        {
            <p class="card-text lead"><span class="badge badge-secondary">0</span>&nbsp;enabled zones</p>
        }
                
        @if (Model.DisabledZones > 0)
        {
            <p class="card-text float-right mt-1 mb-0 text-right">(@Model.DisabledRecords records)</p>
            <p class="card-text lead"><span class="badge badge-danger">@Model.DisabledZones</span>&nbsp;disabled zones</p>
        }
        else
        {
            <p class="card-text lead"><span class="badge badge-secondary">0</span>&nbsp;disabled zones</p>
        }
        
        @if (Model.GroupRecords > 0)
        {
            <p class="card-text lead"><span class="badge badge-info">@Model.GroupRecords</span>&nbsp;group records</p>
        }
        else
        {
            <p class="card-text lead"><span class="badge badge-secondary">0</span>&nbsp;group records</p>
        }
    </div>
    <div class="card-footer">
        <a class="btn btn-secondary btn-sm float-right mr-1" href="@Url.Action("Item", (string) ViewBag.Active, new {item = @Model.GroupKey})"><i class="fas fa-bars"></i>&nbsp;Records</a>
        <a class="btn btn-secondary btn-sm float-right mr-1" href="@Url.Action("EditZoneGroup", (string) ViewBag.Active, new {item = @Model.GroupKey})"><i class="fas fa-pencil-alt"></i>&nbsp;Edit</a>
        <a class="btn btn-secondary btn-sm float-right mr-1" href="@Url.Action("Zones", (string) ViewBag.Active, new {item = @Model.GroupKey})"><i class="fas fa-cubes"></i>&nbsp;View zones</a>
    </div>
</div>
