@model Dictionary<string, DnsWebApp.Models.ZoneGroupSummary>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Zone Groups";
    ViewBag.Active = "ZoneGroup";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Zone Groups</h1>
    
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="@Url.Action("NewZoneGroup", "ZoneGroup")" class="btn btn-sm btn-outline-success">
            <i class="fas fa-plus"></i>&nbsp;New zone group
        </a>
    </div>
</div>

<table class="table table-striped table-hover sortable">
    <thead><tr>
        <th data-defaultsort="disabled"></th>
        <th>Name</th>
        <th>Enabled zones</th>
        <th>Disabled zones</th>
        <th>Group records</th>
        <th>Owner</th>
        <th data-defaultsort="disabled"></th>
    </tr></thead>
    <tbody>
        @foreach (var reg in Model)
        {
            <tr>
                <td></td>
                <th>@reg.Value.GroupName</th>
                <td>@reg.Value.EnabledZones</td>
                <td>@reg.Value.DisabledZones</td>
                <td>@reg.Value.GroupRecords</td>
                <td>@reg.Value.Owner</td>
                <td>
                    <a class="btn btn-secondary btn-sm float-right mr-1" href="@Url.Action("ShowZoneGroup", new {item = reg.Value.GroupKey})">
                        <i class="fas fa-bars"></i>&nbsp;Records
                    </a>
                    <a class="btn btn-secondary btn-sm float-right mr-1" href="@Url.Action("EditZoneGroup", new {item = reg.Value.GroupKey})">
                        <i class="fas fa-pencil-alt"></i>&nbsp;Edit
                    </a>
                    <a class="btn btn-secondary btn-sm float-right mr-1" href="@Url.Action("Zones", new {item = reg.Value.GroupKey})">
                        <i class="fas fa-cubes"></i>&nbsp;View zones
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
