@using DnsWebApp.Models.Dns
@model DnsWebApp.Models.ViewModels.ZoneDisplay
@{
    ViewBag.Title = "Zone";
    Layout = "_Layout";
    ViewBag.Controller = "Zone";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Zone @Model.Fqdn</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="@Url.Action("EditZone", "Zone", new {zone = Model.Zone.Id})" class="btn btn-sm btn-outline-secondary ml-2">
            <i class="fas fa-pencil-alt"></i>&nbsp;Edit SOA
        </a>
        <a href="@Url.Action("ShowZoneFile", "Zone", new {zone = Model.Zone.Id})" class="btn btn-sm btn-outline-secondary ml-2">
            <i class="fas fa-file-alt"></i>&nbsp;Show Zone File
        </a>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Default TTL</th><th>Primary Nameserver</th><th>Administrator</th>
        <th>Refresh</th><th>Retry</th><th>Expire</th><th>Negative TTL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.Zone.DefaultTimeToLive</td><td>@Model.Zone.PrimaryNameServer</td><td>@Model.Zone.Administrator</td>
        <td>@Model.Zone.Refresh</td><td>@Model.Zone.Retry</td><td>@Model.Zone.Expire</td><td>@Model.Zone.TimeToLive</td>
    </tr>
    </tbody>
</table>

<partial name="ShowZoneRecords" />



