@model List<DnsWebApp.Models.Database.Zone>

<table class="table table-striped table-hover table-bordered">
    <thead><tr>
        <th>Zone</th><th>Registrar</th><th>Owner</th><th>Records</th><th>Nameservers</th><th>Expiry</th><th></th>
    </tr></thead>
    <tbody>
    @foreach (var zone in Model)
    {
        <tr class="@(zone.Enabled ? "" : "table-danger")">
            <th>@(zone.Name + "." + zone.TopLevelDomain.Domain)</th>
            <td>@zone.Registrar?.Name</td>
            <td>@zone.Owner</td>
            <td>@(zone.ZoneRecords?.Count ?? 0)</td>
            <td>@zone.PrimaryNameServer</td>
            <td>@zone.RegistrationExpiry</td>
            <td>
                <a href="@Url.Action("ShowZone", "Zone", new {zone = zone.Id})" class="btn btn-sm btn-secondary">
                    <i class="fas fa-cube"></i>&nbsp;View zone
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>