@model List<DnsWebApp.Models.ViewModels.ReportResult>
@{
    ViewBag.Title = "Renewal Costs";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewBag.Title</h1>
</div>

@foreach (var query in Model)
{
    <h3>@query.Title</h3>
    <table class="table table-striped table-hover table-bordered sortable">
        <thead>
        <tr>
            @foreach (var column in query.Columns)
            {
                <th>@column</th>
            }
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < query.Data.Count; i++)
        {
            <tr>
                @for (var j = 0; j < query.Data[i].Length; j++)
                {
                    @if (!string.IsNullOrWhiteSpace(query.DataValues[i][j]))
                    {
                        <td data-value="@query.DataValues[i][j]">
                            @query.Data[i][j]
                        </td>
                    } else {
                        <td>
                            @query.Data[i][j]
                        </td>
                    }
                }
            </tr>
        }
        </tbody>
    </table>
}