@model Dictionary<string, DnsWebApp.Models.GroupedDomainZoneSummary>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Owners";
    ViewBag.Active = "Owner";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Owners</h1>
</div>

<div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-md-2">
    @foreach (var reg in Model)
    {
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@reg.Value.GroupName</h3>
                    @if (reg.Value.Domains > 0)
                    {
                        <p class="card-text lead"><span class="badge badge-info">@reg.Value.Domains</span>&nbsp;domains</p>
                    }
                    else
                    {
                        <p class="card-text lead"><span class="badge badge-secondary">0</span>&nbsp;domains</p>
                    }
                    
                    @if (reg.Value.EnabledZones > 0)
                    {
                        <p class="card-text float-right mt-1 mb-0 text-right">(@reg.Value.EnabledRecords records)</p>
                        <p class="card-text lead"><span class="badge badge-success">@reg.Value.EnabledZones</span>&nbsp;enabled zones</p>
                    }
                    else
                    {
                        <p class="card-text lead"><span class="badge badge-secondary">0</span>&nbsp;enabled zones</p>
                    }
                            
                    @if (reg.Value.DisabledZones > 0)
                    {
                        <p class="card-text float-right mt-1 mb-0 text-right">(@reg.Value.DisabledRecords records)</p>
                        <p class="card-text lead"><span class="badge badge-danger">@reg.Value.DisabledZones</span>&nbsp;disabled zones</p>
                    }
                    else
                    {
                        <p class="card-text lead"><span class="badge badge-secondary">0</span>&nbsp;disabled zones</p>
                    }
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary btn-sm float-right ml-1" href="@Url.Action("Item", (string) ViewBag.Active, new {item = @reg.Value.GroupKey})"><i class="fas fa-cubes"></i>&nbsp;View zones</a>
                    <a class="btn btn-secondary btn-sm float-right ml-1" href="@Url.Action("Domains", (string) ViewBag.Active, new {item = @reg.Value.GroupKey})"><i class="fas fa-globe"></i>&nbsp;View domains</a>
                </div>
            </div>
        </div>
    }
</div>